/* Fondo de la página */
body {
    background-color: #150b25; /* Fondo oscuro */
    color: #f72585; /* Color de texto rosado */
    font-family: Poppins, sans-serif; /* Tipografía moderna */
}

/* Estilos del contenedor del foro */
.forum-container {
    background-color: #080813; /* Fondo oscuro para el contenedor */
    border: 1px solid white; /* Borde blanco */
    border-radius: 20px; /* Bordes redondeados */
    box-shadow: 10px 10px 10px 8px #150b25; /* Sombra */
    max-width: 800px;
    margin: 50px auto; /* Centrado */
    padding: 20px; /* Espaciado interno */
}

/* Estilo de los títulos */
h1, h2 {
    text-align: center; /* Centrado */
    color: #f72585; /* Color rosado de los títulos */
}

/* Sección de publicaciones */
#posts {
    background-color: #0f0f20; /* Fondo oscuro para la sección de publicaciones */
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    max-height: 300px;
    overflow-y: auto;
    box-shadow: 4px 4px 4px 4px #150b25;
}

.post {
    background-color: #1c1c3b; /* Fondo oscuro de cada comentario */
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.post strong {
    color: #f72585; /* Color del nombre del usuario */
}

/* Estilo del formulario */
form {
    background-color: #080813; /* Fondo oscuro del formulario */
    border-radius: 10px; /* Bordes redondeados */
    padding: 20px;
    box-shadow: 4px 4px 4px 4px #150b25;
}

/* Estilos para los campos de texto */
input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    background-color: #0f0f20; /* Fondo oscuro para los campos de texto */
    color: #f72585; /* Color del texto */
    margin-bottom: 20px;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 4px 4px 4px 4px #150b25;
}

input::placeholder, textarea::placeholder {
    color: #f72585; /* Color del placeholder */
}

input:focus, textarea:focus {
    outline: none;
    border-color: #f72585; /* Color de borde al hacer focus */
}

/* Estilo del botón */
button {
    text-align: center;
    padding: 12px;
    background-color: #0f0f20; /* Fondo oscuro del botón */
    border: none;
    color: #f72585; /* Texto del botón en rosado */
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 4px 4px 4px 4px #150b25;
    width: 100%;
}

button:hover {
    background-color: #1c1c3b; /* Fondo más claro al pasar el ratón */
}
